<!DOCTYPE html>
<html>
  <head>

    <link rel="shortcut icon"
          href="{{ url_for('static', filename='trans_flavico.png') }}">
    
    <title>{{title}}</title>
    <link rel=stylesheet type=text/css
          href="{{url_for('static', filename='viewer.css')}}">

    <link rel="stylesheet" 
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>

    <div class="container">
      
      <div class="header">
        <a href="{{project_url}}">
          {{title}}
        </a>

      </div>
      
      <div class="tagline">
      Generalizing Chomsky's 
      <a href="https://en.wikipedia.org/wiki/Colorless_green_ideas_sleep_furiously">famous sentence</a> 
  into syntactic singular vectors. Refresh for more semantically precise nonsense.
        </div>
      <hr/>

      <div class="content">
        <ul>
          {% for item in result_list %}
          <li>{{item|safe}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer">
        <a href="http://thoppe.github.io/">project by {{author}}</a>
      </div>  
    </div>
  </body>
</html>
